@charset "UTF-8";
body[data-dark="true"] {
  background-color: #333;
}
/* header */
.header[data-dark="true"] {
  background-color: #333;
  border-bottom: 1px solid #3a3b3d;
}
/* header */
.header[data-dark="true"] ul li a {
  color: #ccc;
}
.header[data-dark="true"] ul li.on a {
  color: #d9d9d9;
}
.header[data-dark="true"] ul li.on::after,
.header[data-dark="true"] ul li:hover::after {
  background-color: #d9d9d9;
}
.header[data-dark="true"] .etc > ul > li ul {
  background-color: #333;
}
/* .header[data-dark="true"] .etc > ul > li:last-child:hover ul {
  background-color: #272727;
} */

/* main-banner title */
#animatingStr[data-dark="true"] {
  color: #d9d9d9;
}
.type a[data-dark="true"] {
  background-color: #272729;
  color: #d9d9d9;
  border-color: #3d3d3d;
}
/* dark-mode btn mobile */
.dark-btn[data-dark="true"] {
  background-color: #272729;
  color: #d9d9d9;
}
/* mobile menu */
.m-btn[data-dark="true"] .line {
  background-color: #d9d9d9;
}
.m-nav[data-dark="true"] {
  background-color: #272729;
}
.m-nav[data-dark="true"] ul li a,
.m-nav[data-dark="true"] .pic p {
  color: #d9d9d9;
}
.m-nav[data-dark="true"] ul li {
  border-color: #d9d9d9;
}
/* footer */
.footer[data-dark="true"] {
  background-color: #333;
  border-top: 2px solid #3d3d3d;
}
.footer[data-dark="true"] p {
  color: #d9d9d9;
}

/* content */
/* content title */
.content .title-wrap[data-dark="true"] {
  background-color: #272729;
  border-color: #3d3d3d;
}
.content .title-wrap[data-dark="true"] h3 {
  color: #d9d9d9;
}
.content .title-wrap[data-dark="true"] h3::after {
  background-color: #d9d9d9;
}

/* about */
.content .about-wrap .about-content[data-dark="true"] {
  background-color: #272729;
  border-color: #3d3d3d;
}
.content .about-wrap .about-content[data-dark="true"] h3,
.content .about-wrap .about-content[data-dark="true"] p {
  color: #d9d9d9;
}

/* Design Work */
.content .work-content[data-dark="true"] {
  background-color: #272729;
  border-color: #3d3d3d;
}
.content .work-content[data-dark="true"] p {
  color: #d9d9d9;
}

/* Contact */
.content .contact-content[data-dark="true"] {
  background-color: #272729;
  border-color: #3d3d3d;
}
.content .contact-content[data-dark="true"] P {
  color: #d9d9d9;
}
.content .contact-content[data-dark="true"] .sns ul li i {
  color: #d9d9d9;
}
