@charset "UTf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
img {
  vertical-align: top;
}
ul,
ol {
  list-style: none;
}
body {
  background-color: #f7f8f9;
  font-family: "Noto Sans KR", sans-serif;
}
/* common */

/* mobileBtn */
.m-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 101;
  display: none;
}
.m-btn .line {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #000;
  margin: 5px;
  border-radius: 5px;
  transition: 0.5s;
}
.m-btn .line:nth-child(2) {
  width: 20px;
}
.m-btn .line:nth-child(3) {
  width: 10px;
}
/* on / mobile X 버튼 */
.m-btn.on .line:nth-child(1) {
  transform: rotate(45deg) translateY(14px);
}
.m-btn.on .line:nth-child(2) {
  opacity: 0;
}
.m-btn.on .line:nth-child(3) {
  width: 30px;
  transform: rotate(-45deg) translateY(-14px);
}

/* mobileMenu */
.m-nav {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  transition: 0.5s;
  background-color: #fff;
  z-index: 100;
  padding: 50px;
}
.m-nav.on {
  right: 0;
}
.m-nav .pic {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.m-nav .pic img {
  border-radius: 50%;
  margin-bottom: 1em;
}
.m-nav .pic p {
  color: #000;
  font-weight: bold;
  font-size: 1em;
}
.m-nav ul {
  margin-top: 50px;
}
.m-nav ul li {
  border-bottom: 1px solid #000;
  padding: 20px 0;
  font-size: 1.25em;
}
.m-nav ul li a {
  color: #000;
}
.m-nav ul li a i {
  margin-right: 20px;
}
/* windowMask */
.window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0/70%);
  z-index: 99;
  display: none;
}
.window.on {
  display: block;
}
/* darkModeBtn */
.dark-btn {
  position: fixed;
  z-index: 99;
  background-color: #333;
  right: 20px;
  bottom: 80px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.dark-btn i {
  color: #fff;
  font-size: 24px;
}
.dark-btn .fa-moon {
  color: #fff;
  width: 24px;
  font-size: 24px;
}

/* header */
.header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}
.header .header-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
}
.header .logo a {
}
.header .logo a img {
}

/* nav */
.header nav {
  flex-basis: 50%;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
}
.header nav ul li {
  position: relative;
}
.header nav ul li a {
  color: #333;
}
/* after */
.header nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: 1s;
}
.header nav ul li.on::after,
.header nav ul li:hover::after {
  transform: scaleX(1);
  /* width: 100%; */
}
.header nav ul li.on a {
  font-weight: bold;
  color: #333;
}

/* etc */
.header .etc {
  flex-basis: 10%;
}
.header .etc > ul {
  display: flex;
  justify-content: space-between;
}
.header .etc > ul > li {
  position: relative;
  flex-basis: 50%;
  text-align: center;
}
.header .etc > ul > li a i {
  font-size: 1.5em;
}
.header .etc > ul > li ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  background-color: #fff;
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  padding-top: 20px;
  background-clip: content-box;
}
/* hover */
.header .etc > ul > li:hover ul {
  height: auto;
}
.header .etc > ul > li ul li {
  padding: 5px 0;
}
/* after */
.header .etc > ul > li ul li.on,
.header .etc > ul > li ul li:hover {
  font-weight: bold;
}

/* footer */
.footer {
  width: 100%;
  padding: 25px 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.footer p {
  text-align: center;
  letter-spacing: -0.5px;
  color: #9f9f9f;
}

/* content-title */
.content {
  width: 100%;
  padding: 0 2%;
}
.content .title-wrap {
  max-width: 1200px;
  margin: 176px auto 100px;
  padding: 25px 0;
  box-shadow: 3px 3px 10px 1px rgba(0 0 0/20%);
  border-radius: 7px;
  border: 1px solid #ccc;
  transition: 0.5s;
}
.content .title {
  text-align: center;
  font-size: 2em;
}
.content .title h3 {
  transition: 1s;
  position: relative;
}
.content .title h3::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 3%;
  height: 3px;
  background-color: #000;
}

/* responsive */
@media screen and (max-width: 1240px) {
  .header .header-wrap {
    width: 95%;
  }
}
@media screen and (max-width: 640px) {
  .m-btn {
    display: block;
  }
  .header nav {
    display: none;
  }
  .header .etc {
    display: none;
  }
  .dark-btn {
    display: block;
  }
  .content .title-wrap {
    margin: 140px auto 50px;
    padding: 15px 0 20px;
    box-shadow: 3px 3px 10px 1px rgba(0 0 0/20%);
    border-radius: 5px;
  }
  .content .title h3 {
    font-size: 0.8em;
  }
  .content .title h3:after {
    width: 7%;
  }
}
